@use 'global' as *;

.primary {
  width: 48%;
  cursor: pointer;
  padding: 10px 45px;
  border: 1px solid $secondary;
  background: none;
  border-radius: 3px;
  position: relative;
  z-index: 2;
  color: $primary;
  transition: color 0.05s ease 0.1s;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: $secondary;
    transition: width 0.3s ease;
    z-index: -2;
  }

  &:hover {
    color: #fff;
    &::before {
      content: '';
      width: 100%;
    }
  }
}
