@use '../../styles/variables.scss' as *;

.primary,
.secondary {
  border: none;
  min-width: 250px;
  min-height: 45px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  color: $neutral;
}

.primary {
  background-color: $primary;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: darken($primary, 5);
  }
}

.secondary {
  color: $neutral;
  background-color: $secondary;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: darken($secondary, 8);
  }
}

.link {
  color: $neutral;
  font-size: 18px;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
