@use 'global' as *;

.input {
  border-radius: 3px;
  border: 1px solid $primary;
  padding: 10px;
  margin-bottom: 30px;
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: capitalize;
}
